@model OnlineCarRental.Models.Customer
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/login-form-19/css/style.css"


</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">

            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap py-5">
                        <div class="img d-flex align-items-center justify-content-center" style="background-image: url(/login-form-19/images/bg.jpg);"></div>
                        <h3 class="text-center mb-0">Welcome</h3>
                        <p class="text-center">Customer LogIn</p>
                        @using (Html.BeginForm("CustomerLogin", "inup", FormMethod.Post))
                        {
                          
                            <div class="form-group">

                                @Html.TextBoxFor(model => model.email, new { @class = "form-control", placeholder = "Enter email" })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">

                                @Html.TextBoxFor(model => model.password, new { @class = "form-control", placeholder = "Enter password", Type = "password" })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                           

                            <div class="form-group d-md-flex">
                                <div class="w-100 text-md-right">
                                    <a href="/inup/CustomerSignup">Goto SignUp</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn form-control btn-primary rounded submit px-3">Log In</button>
                            </div>


                        }




                        <div class="w-100 text-center mt-4 text">


                            <a href="/inup/ShopLogin">login for Shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/login-form-19/js/jquery.min.js"></script>
    <script src="~/login-form-19/js/popper.js"></script>
    <script src="~/login-form-19/js/bootstrap.min.js"></script>
    <script src="~/login-form-19/js/main.js"></script>

</body>
</html>

